@charset "utf-8";

/**
    이지쿼리 생성기
*/

/*skip navigation */
#skipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; }
#skipNavigation a { position:absolute; top:0; left:-99999px; display:block; width:100%; height:30px; background:#c4122f; color:#fff; line-height:30px; text-align:center; }
#skipNavigation a:first-child { background:#ff5e26; }
#skipNavigation a:focus, #skipNavigation a:active { left:0; }

/* Layout */
body { min-width:0; height:100%; }
#wrap { min-height:100%; background:url("/static/img/generator/bg_sidebar.gif") repeat-y 0 0; }
#container { *zoom:1; padding:0 20px 50px 215px; }
#container:after { content:""; display:block; clear:both; }
#content { float:left; width:100%; }

/* 인증화면 */
#wrap.login { background:none; }
#wrap.login #container { padding:0 20px 50px; }
.certifiedArea { width:345px; margin:58px auto 0; }
.certifiedArea h2 { height:64px; line-height:64px; text-align:center; font-weight:bold; font-size:30px; color:#3c4451; font-family:Verdana; }
.certifiedArea .mLogin { padding:11px 30px 25px 20px; color:#777777; border:1px solid #e9e9e9; border-radius:3px; box-shadow:1px 1px 5px #d5d5d5; }
.certifiedArea .mLogin label { display:block; padding:4px 0 0; line-height:31px; }
.certifiedArea .mLogin .fSelect { width:290px; }
.certifiedArea .mLogin .fText { width:280px; }
.certifiedArea .mLogin .btn { margin:10px 0 0; text-align:right; }


/* Header */
#header { position:relative; height:28px; border-top:1px solid #373f49; border-bottom:1px solid #373f49; background-color:#3c4451; }
#header h1 { position:absolute; left:0px; top:0px; width:209px; height:28px; }
#header h1 a { display:block; width:100%; height:100%; font-size:0; line-height:0; color:transparent; background:url("/static/img/generator/h1_logo.gif") no-repeat 19px 50%; }

/* Sidebar */
#sidebar { position:relative; left:-215px; float:left; width:193px; margin-right:-193px; }
    /* 사이드 셀렉트박스 */
    #sideSelect { z-index:10; position:relative; padding:1px 0 0; border-top:1px solid #616b7c; border-bottom:1px solid #545b6c; background-color:#4a5566; }
    #sideSelect .now { position:relative; overflow:hidden; padding:7px 20px 7px 20px; color:#efefef; border-top:1px solid #525d70; border-right:1px solid #697284; border-bottom:1px solid #707b8e; background-color:#545f72; *zoom:1; }
    #sideSelect .now .toggle { position:relative; float:right; top:-4px; right:-16px; overflow:hidden; width:22px; height:20px; margin:0 0 -8px -22px; text-indent:150%; white-space:nowrap; background:url("/static/img/generator/sfix_sideselect.png") no-repeat -10px -10px; }
    #sideSelect .now .toggle:hover { background-position:-42px -10px; }
        /* list */
        #sideSelect .wrap { display:none; *zoom:1; position:relative; position:absolute; left:0px; top:100%; width:100%; padding:1px 0 0; border-top:1px solid #303640; border-bottom:1px solid #; background-color:#626d81; }
        #sideSelect .list { position:relative; overflow-y:scroll; overflow-x:hidden; height:130px; border-left:1px solid #545b6d; border-right:1px solid #545b6d; background-color:#6c778c; *zoom:1; *padding-right:17px; }
        #sideSelect .list li { float:left; width:100%; overflow:hidden; }
        #sideSelect .list li a { display:block; overflow:hidden; padding:7px 3px 7px 20px; color:#fff; *zoom:1; }
        #sideSelect .list li span { cursor:pointer; }
        #sideSelect .list li a:hover { text-decoration:none; }
        #sideSelect .list li strong { display:inline-block; height:13px; padding:0 4px; font-weight:normal; color:#fff; letter-spacing:-1px; vertical-align:middle; line-height:1.3; border:1px solid #457dc9; background-color:#5993e0; }
        #sideSelect .list li.selected a,
        #sideSelect .list li a:hover { color:#71d9ff; background-color:#484e5e; }
        /* footer */
        #sideSelect .wrap .footer { padding:3px 8px; text-align:right; border:1px solid #545b6d; border-top:0; background-color:#5b667a; }
        #sideSelect .wrap .footer .close { display:inline-block; height:15px; padding:0 0 1px; border:1px solid #363e4b; border-left:1px solid #484e5e; border-top:1px solid #484e5e; background-color:#5b667c; }
        #sideSelect .wrap .footer .close span { display:inline-block; padding:0 5px; font-size:11px; color:#fff; font-family:Dotum; line-height:15px; cursor:pointer; border-top:1px solid #6c778b; background:none; }
        #sideSelect .wrap .footer .close:hover { text-decoration:none; }
        #sideSelect .wrap .footer .close:hover span { color:#80d2ff; }
        /* fake scroll default */
        #sideSelectfakeScroll .scroll-content-x { padding-bottom:15px; }
        #sideSelectfakeScroll .scroll-content-y { padding-right:15px; }
        #sideSelectfakeScroll .scroll-track { width:10px; height:10px; background:#d5d5d5; }
        #sideSelectfakeScroll .scroll-track-x { left:0; bottom:0; display:none !important; }
        #sideSelectfakeScroll .scroll-track-y { right:0; top:0; }
        #sideSelectfakeScroll .scroll-neutralzone { right:0; bottom:0; width:10px; height:10px; background:#d5d5d5; }
        #sideSelectfakeScroll .scroll-bar { width:10px; height:10px; background:#000; }
        #sideSelectfakeScroll .scroll-bar.active { background:#fff; }
        #sideSelectfakeScroll .scroll-arrow { width:10px; height:10px; background:#000; }
        #sideSelectfakeScroll .scroll-arrow:active { background:#fff; }
        #sideSelectfakeScroll .scroll-arrow-left { left:0; top:0; margin-right:1px; }
        #sideSelectfakeScroll .scroll-arrow-right { right:0; top:0; margin-left:1px; }
        #sideSelectfakeScroll .scroll-arrow-up { left:0; top:0; margin-bottom:1px; }
        #sideSelectfakeScroll .scroll-arrow-down { left:0; bottom:0; margin-top:1px; }
        /* fake scroll customize */
        #sideSelectfakeScroll .scroll-content { padding-right:17px; *padding-right:0; }
        #sideSelectfakeScroll .scroll-track { width:17px; height:17px; background:#5b667b; }
        #sideSelectfakeScroll .scroll-arrow { width:13px; height:13px; padding:1px; border:1px solid #484e5e; background:#9fabbf; }
        #sideSelectfakeScroll .scroll-arrow .inner { display:block; width:100%; height:100%; }
        #sideSelectfakeScroll .scroll-arrow-up .inner { background:#7a8599 url("/static/img/generator/sfix_fakescroll_up.gif") no-repeat 50% 50%; }
        #sideSelectfakeScroll .scroll-arrow-down .inner { background:#7a8599 url("/static/img/generator/sfix_fakescroll_down.gif") no-repeat 50% 50%; }
        #sideSelectfakeScroll .scroll-bar { width:13px; height:13px; padding:1px; border:1px solid #484e5e; background:#9fabbf; }
        #sideSelectfakeScroll .scroll-bar .inner { display:block; width:100%; height:100%; background:#7a8599; }
        #sideSelectfakeScroll .scroll-bar.active { background:#7a8599; }
        #sideSelectfakeScroll .scroll-bar.active .inner { background:#484e5e; }
        #sideSelectfakeScroll .scroll-arrow:active { background:#9fabbf; }
    /* 테이블 선택 */
    #sidebar .tableList ul { border-bottom:1px solid #d9d9de; background-color:#fff; }
    #sidebar .tableList li:first-child label { border-top:0; }
    #sidebar .tableList li label { display:block; padding:8px 10px; font-size:11px; border-top:1px solid #efefef; }
    #sidebar .tableList li label.eSelected { padding-top:7px; font-weight:normal; color:#fff; border-top:2px solid #0093d9; background-color:#00adff; }
    #sidebar .tableList li:first-child label.eSelected { padding-top:6px; }
    #sidebar .tableList .btn { padding:10px; text-align:right; }

/* 쿼리생성기 */
.queryString { padding:10px; border:1px solid #60a8f0; background-color:#f7f7f7; }
.queryString textarea { width:100%; height:140px; padding:0; resize:none; border:0; background:none; }
    /* 드래그 정렬 */
    .mDbSortList li { margin:3px 0 0; padding:8px 5px 8px 0; cursor:pointer; border:1px solid #c8e4fe; background:#f5fafe url("/static/img/generator/bg_sort_list.gif") no-repeat 10px 50%; border-radius:2px; }
    .mDbSortList li.ui-sortable-helper { cursor:move; }
    .mDbSortList li strong { margin:0 5px 0 30px; }
    /* 테이블과 필드 선택 */
    .mDbTableDrag .ctrl { padding:13px 15px; border:1px solid #bcbfc4; border-bottom:0; background-color:#e3e3e3; }
    .mDbTableDrag .ctrl a { display:inline-block; margin:0 5px 0 0; padding:5px 10px; color:#363636; border:1px dashed #000; background-color:#fffacf; box-shadow:0 0 5px #000; }
    .mDbTableDrag .listWrap { position:relative; padding:15px; border:1px solid #a4a7ac; }
    .mDbTableDrag .listWrap .desc { height:28px; margin:15px 0 0; text-align:center; font-size:11px; color:#608ac3; line-height:28px; border:1px dashed #81aee3; background-color:#ecf3fb; }
    .mDbTableDrag .item { width:145px; }
    .mDbTableDrag .item .header { cursor:move; background:#4b5565 url("/static/img/generator/bg_dragselect_header.gif") repeat-x 0 0; }
    .mDbTableDrag .item .header strong { display:block; min-height:18px; padding:7px 20px; text-align:center; color:#fff; font-weight:bold; background:url("/static/img/generator/bg_dragselect_header_move.gif") no-repeat 10px 11px; }
    .mDbTableDrag .item .content { padding:4px 4px 1px; border:1px solid #bcbfc4; border-top:1px solid #d9dadc; }
    .mDbTableDrag .item li { margin:0 0 3px; *zoom:1; }
    .mDbTableDrag .item li label { display:block; padding:5px; font-size:11px; border:1px solid #d6d6d6; border-radius:2px; }
    .mDbTableDrag .item li.all label { font-weight:bold; border-color:#d6d6d6; background-color:#f3f3f3; }
    .mDbTableDrag .item li label.eSelected { border-color:#b6dcff; background-color:#d7ecfe; }
    .mDbTableDrag .item li.all label.eSelected { letter-spacing:normal; }

    /* 쿼리결과 */
    .queryResult .ui-jqgrid .ui-jqgrid-hbox { float:none; padding-right:0; }
    .queryResult .ui-jqgrid .ui-jqgrid-htable { border:1px solid #bbc0c4; background-color:#f5f4f4; }
    .queryResult .ui-jqgrid .ui-jqgrid-htable th { border-right:1px solid #bbc0c4; }
    .queryResult .ui-jqgrid .ui-jqgrid-htable th div { height:30px; line-height:30px; font-size:12px; font-weight:normal; }
    .queryResult .ui-jqgrid .ui-jqgrid-htable th .ui-jqgrid-resize { height:30px !important; }
    .queryResult .ui-jqgrid tr.jqgfirstrow td { visibility:hidden; border-top:0; border-bottom:0 !important; }
    .queryResult .ui-jqgrid-bdiv { max-height:300px; }
    .queryResult .ui-jqgrid-btable { border:1px solid #bbc0c4; }
    .queryResult .ui-jqgrid-btable tr.jqgfirstrow { border:0!important; }
    .queryResult .ui-jqgrid tr.ui-row-ltr td { padding:7px 5px; font-size:12px; border:1px solid #bbc0c4; border-top:0; }
    .queryResult .ui-jqgrid .ui-pg-input { height:20px; padding:0 5px; line-height:20px; border:1px solid #a7a7a7; border-right-color:#cfcfcf; border-bottom-color:#cfcfcf; outline:0 none; }
